<h2>Reactivos: Básico</h2>
<hr />
<div class="row">
  <div class="col">
<!-- formControlName="nombre"-> para relacionar el campo -->
    <form  (ngSubmit)="guardar()" autocomplete="false" [formGroup]="miFormulario">
      <!-- Campo de producto -->
      <div class="mb-3 row">

        <label class="col-sm-3 col-fom-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"            
            name="producto"
            formControlName="nombre"
            placeholder="Nombre del Producto"
            />
          <span class="form-text text-danger"
            *ngIf="campoEsValido('nombre')" >
           Debe de ser de 3 letras
        </span>
        </div>

      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-fom-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="precio"
            (change)="maximoTope()"
        
            placeholder="Precio del Producto"/>
            <span class="form-text text-danger" 
            *ngIf="campoEsValido('precio')">
              El precio debe ser cero o mayor
          </span>
        </div>

       </div>
      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-fom-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="existencias"           
            placeholder="Existencias del Producto"/>
          
            <span class="form-text text-danger" 
            *ngIf="campoEsValido('existencias')">
              Las existencias deben ser 0 o mayor 
          </span>
        </div>
      </div>

       <div class="row">
          <div class="col">
            <button type="submit"
                   
                     class="btn btn-primary float-end">
              Guardar
            </button>
          </div>
       </div>

    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="text-danger" *ngIf="maximoTope()" >
    soy un mensaje de texto de prueba
  </div>
</div> -->
<br>

<div class="row">
  <div class="col">


    <span>Valid</span>
    <pre>{{ miFormulario.valid}}</pre>

    <span>Pristine</span>
    <!-- significa que no se han cambiado ninguno de los valor con los que se presentó -->
    <!-- el formulario es decir el formulario no ha sido cambiado sus valores desde que  -->
    <!-- se presento al usuario -->
    <pre>{{ miFormulario.pristine}}</pre>

    <span>Touched</span>
    <!-- significa si el usuario ha tocado el formulario -->
    <pre>{{ miFormulario.touched}}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json}}</pre>

    <span>Precio</span>
    <pre>{{ miFormulario.controls['precio'].errors | json}}</pre>


  
  </div>

</div>
