<h2>Template: Básico</h2>
<hr />
<div class="row">
  <div class="col">
    <!-- referencia local le agrego el #miFormulario de tipo ngForm-->
    <!-- ngModel se agrega como propiedad en la etiqueta y el atributo name -->
    <form (ngSubmit)="guardar( miFormulario )" #miFormulario="ngForm"
    autocomplete="false"
    >
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-fom-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            ngModel
            name="producto"
            placeholder="Nombre del Producto"
          required/>
          <span class="form-text text-danger">Debe de ser de 3 letras</span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-fom-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            name="precio"
            placeholder="Precio del Producto"
           required
           min="0"/>
        </div>      </div>
      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-fom-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            ngModel
            name="existencia"
            placeholder="Existencias del Producto"
          />
        </div>
      </div>

       <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary float-end">
              Guardar
            </button>
          </div>
       </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">


    <span>Value</span>
    <pre>{{ miFormulario.valid}}</pre>

    <span>Pristine</span>
    <!-- significa que no se han cambiado ninguno de los valor con los que se presentó -->
    <!-- el formulario es decir el formulario no ha sido cambiado sus valores desde que  -->
    <!-- se presento al usuario -->
    <pre>{{ miFormulario.pristine}}</pre>

    <span>Touched</span>
    <!-- significa si el usuario ha tocado el formulario -->
    <pre>{{ miFormulario.touched}}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json}}</pre>
  </div>

</div>
